<html>
  <head>
    <title>{{ title }} - image</title>
  </head>
  <body>
    <!-- <img src="{{ url_for('static', filename='rrr.png') }}" alt="Image Placeholder" height="100"> -->

    <br><br>
    <hr>
    <br><br>
    <form action = "http://localhost:5000/uploader" method = "POST" enctype = "multipart/form-data">
         <select name="type">
            <option value="test">Test</option>
            <!-- <option value="train">Train</option> -->
         </select>
         <input type = "file" name = "file[]" multiple accept="image/*"/>
         <input type = "submit"/>
    </form>

    <br><br>
    <hr>
    <br><br>
    <a href="{{ url_for('RoundTest') }}">Start test</a>
  </body>
</html>